/* default css */

/*Color Scheme:
	Mustard: #F2C249
	Creamy orange: #E6772E
	Pastel blue: #4DB3B3
	Red: #E64A45
	Black: #3D4C53
*/



/* header */

#main {
	background-color: #E6772E;
	margin-top: 4px;
	margin-left: 4px;
	margin-bottom: 4px;
	width: 20%;
	border-radius: 25px;
	font-size: 16px;
	padding: 15px;
}

/* navigator */

nav {
	margin-top: 0px;
	background-color: #E6772E;
	position: relative;
	border-radius: 25px;
	text-align: center;
	margin-bottom: 5px;

}

nav a {
	margin-left: 2em;
	font-color: white;
	text-align: center;
}

nav li {
	display: inline;
}

#mainpic {
	border-radius: 25px;
	width: 12em;
	height: 15em;
	float: right;
	margin: 10 5 10 5 ;
	padding: 10px;
	border: solid 3px black;

}

#pic {
	margin: 15px 10px 10px 10px;
}

#intro {
	border-radius: 25px;
	width: 70%;
	height: 16em;
	border-style: solid;
	display: relative;
	border-color: black;
	text-align: center;
}

body {
	background-color: #3D4C53;
	font-family: Book Antiqua, georgia;
}

/*#container {
	width: 50em;
	height: 40em;
}
*/

#bmp {
	float: left;
	border: dotted;
	width: 50%;
	height: 50%;
	margin: 5 5 5 5 ;
	padding: 5 5 5 5 ;
	text-align: center;
}

#box-model {
	border-style: solid;
	float: right;
	margin: 3em;
}

#mainFooter {
	border-radius: 25px;
	background-color: #E6772E;
	bottom: 0;
	width:100%;
	height: 55px;
	margin: 4px 4px 4px 4px;
}

footer {
	width: 100%;
	clear: both;
	margin-top: 5px;
	}



div .social_option {
display: inline-block;
margin: 3px 0px 3px 0px ;
padding-right: 2em;
float: right;
}*/*/